.watch-list {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .main-heading h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .main-heading .movies-count {
    font-size: 16px;
    color: #666;
  }
  
  .movie-grid {
    display: flex;
    gap: 20px;
    
  }
  
  .no-movies {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 40px;
  }
  .inner-card-controls {
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .movie-card:hover .inner-card-controls {
    opacity: 1;
  }
  
  .ctrl-btn {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .ctrl-btn i {
    font-size: 14px;
    color: #333;
  }
  
  .ctrl-btn:hover {
    background: #007bff;
    transform: scale(1.1);
  }
  
  .ctrl-btn i:hover {
    color: #fff;
  }