/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* css custom variables */
:root {
  --primary: #2c3e50; /* Dark Slate Blue - for the main background */
  --secondary: #f39c12; /* Vivid Amber - for buttons, highlights, and accents */
  --accent: #e74c3c; /* Strong Red - for call-to-action buttons or alerts */
  --white: #ecf0f1; /* Light Grey - for text, background highlights */
  --dark: #34495e; /* Charcoal - for secondary backgrounds */
  --light-gray: #bdc3c7; /* Light Gray - for subtle borders and elements */
}

body {
  font-family: 'Oswald', sans-serif;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
*:before,*:after{
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}.btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary);
  color: var(--primary);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--primary);
  color: var(--secondary);
}
.btn:disabled{
  pointer-events: none;
  opacity: 0.5;
}
input:focus{
  outline: none;
}